<h1>Create a new Manager</h1>


<a href="/managers">Go back</a> 
<form action="/managers" method="post">
  <div>
    <label for="">Manager Name:</label>
    <input type="text" name="manager[name]" />
  </div>
  <div>
    <label for="">Age:</label>
    <input type="integer" name="manager[age]" />  
  </div>  
  <input type="submit" value="Create new Manager" />
</form>
