<h1><%= @manager.name %></h1>

<p>This manager is <%= @manager.age %> years old.</p>
<p>This manager is in charge of  </p>


<a href='/managers/<%= @manager.id %>/edit'>Edit this Manager</a>
<a href='/managers'>See all managers</a>

